[config]
anaGithub=https://raw.githubusercontent.com/northlethe/pro/
yedekGithub=https://raw.githubusercontent.com/madenhakki/pro/
[linkler]
p=link0|https://raw.githubusercontent.com/madenhakki/pro/main/deneme.html
p=link1|https://raw.githubusercontent.com/madenhakki/pro/main/style.css
p=link1|https://raw.githubusercontent.com/madenhakki/pro/main/style.css
